@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

$cartoon-font: "Architects Daughter", cursive;

.layout {
  background-color: grey;
  min-height: 100vh;
}

.layout-core {
  background-color: #333232;
  margin: 0px 250px 0px 250px;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.img-container {
  margin: 10px;
  width: 200px;
  height: 280px;
  border: solid 1px yellow;
}

.card {
  margin: 20px;
  width: 220px;
  min-height: 370px;
  border: solid 1px yellow;
  background-color: black;
}

.card-text {
  font-family: $cartoon-font;
  margin: 10px;
  color: white;
}

.btn-load {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.btns-container {
  display: grid;
  justify-content: end;
  grid-template-columns: 90% 10%;
  padding: 10px;
}

.card-badge {
  background: none repeat scroll 0 0 #d6e400;
  border: 2px solid #ffffff;
  border-radius: 100%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  position: relative;
  right: -180px;
  top: -10px;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  font-family: $cartoon-font;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
  height: 400px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.modal-btns-container {
  margin: 15px;
}

.modal-btn {
  margin-top: 20px;
}

.roll-btn {
  font-family: $cartoon-font;
  font-size: 20px;
  margin-top: 40px;
  width: 350px;
  height: 50px;
  background-color: rgb(28, 90, 206);
  color: white;
}

.close {
  color: rgb(161, 161, 161);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(30, 90, 255);
  text-decoration: none;
  cursor: pointer;
}
